.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #272727;
  background-image: url('res/vonvoyage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.outlined {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.loginForm {
  opacity: 1;
}

.loginForm.hidden {
  opacity: 0;
  pointer-events: none;
}
