body {
  margin: 0;
}

.outlined {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.loginForm {
  opacity: 1;
}

.loginForm.hidden {
  opacity: 0;
  pointer-events: none;
}

/* 600px 이하인 경우 */
@media screen and (max-width: 600px) {
  .title-image {
    width: 300px !important;
    height: 60px !important;
  }
  .mokoko-image {
    width: 330px !important;
    height: 257px !important;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    padding-bottom: 30px !important;
  }
  .header-text {
    font-family: "Pretendard-Regular" !important;
    font-weight: 800 !important;
    font-size: 20px !important;
  }
  .header-icon {
    width: 20px !important;
    height: 20px !important;
    margin: 5px !important;
  }
  .page-title {
    padding-top: 50px !important;
    padding-bottom: 10px !important;
    font-family: "Pretendard-Regular" !important;
    font-weight: 800 !important;
    font-size: 30px !important;
  }
  .page-description {
    font-family: "S-CoreDream-3Light" !important;
    font-size: 10px !important;
  }
  .main-post {
    background: #f3e07cc8 !important;
    margin: 10px !important;
  }
  .MuiTableCell-root {
    font-family: "SUIT-Regular" !important;
    font-weight: 600 !important;
    font-size: 10px !important;
  }
  .MuiButton-contained {
    background-color: #e6bd76 !important;
    color: #000000 !important;
    font-family: "NanumBarunGothic" !important;
    font-size: 11px !important;
  }
}

/* 600px 초과인 경우 */
@media screen and (min-width: 601px) {
  .title-image {
    width: 600px !important;
    height: 120px !important;
  }
  .mokoko-image {
    width: 500px !important;
    height: 390px !important;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    padding-bottom: 30px !important;
  }
  .header-text {
    font-family: "Pretendard-Regular" !important;
    font-weight: 800 !important;
    font-size: 50px !important;
  }
  .header-icon {
    width: 40px !important;
    height: 40px !important;
    margin: 5px !important;
  }
  .page-title {
    padding-top: 50px !important;
    padding-bottom: 20px !important;
    font-family: "Pretendard-Regular" !important;
    font-weight: 800 !important;
    font-size: 50px !important;
  }
  .page-description {
    font-family: "S-CoreDream-3Light" !important;
    font-size: 18px !important;
  }
  .main-post {
    background: #f3e07cc8 !important;
    margin: 10px !important;
    min-width: 400px !important;
    min-height: 200px !important;
  }
  .MuiTableCell-root {
    font-family: "SUIT-Regular" !important;
    font-weight: 600 !important;
    font-size: 14px !important;
  }
  .MuiButton-contained {
    background-color: #e6bd76 !important;
    color: #000000 !important;
    font-family: "NanumBarunGothic" !important;
    font-size: 16px !important;
  }
}

.MuiButton-contained:hover {
  background-color: #f3e07c !important;
}

@font-face {
  font-family: "PuradakGentleGothicR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix")
      format("embedded-opentype"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff")
      format("woff"),
    url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
